﻿@model MAP_project.domaine.Entity.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deb_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deb_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbreRessources)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbreRessources)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idClient)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
