﻿@model IEnumerable<MAP_project.domaine.Entity.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateProjet")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deb_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fin_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbreRessources)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deb_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fin_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbreRessources)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
