﻿@model MAP_project.domaine.Entity.Skils

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skils</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idRes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SkilsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
