﻿@model IEnumerable<MAP_project.domaine.Entity.Skils>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idRes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SkilsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SkilsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkilsId })
        </td>
    </tr>
}

</table>
